.toolbar {
  width: 160px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  flex: 0 0 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  appearance: none;
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 6px;
}

.signUp {
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  color: whitesmoke;
}

.signUp:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.signUp:hover {
  background-color: #2c974b;
}

.signUp:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.signUp:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.login {
  background-color: rgb(51, 51, 51);
  color: whitesmoke;
  border-width: 0;
}

.login:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.login:hover, .login:focus, .login:active {
  background-color: rgba(194, 194, 194, 0.2);
  outline: none;
}
