.signUp {
    width: 70%;
    margin: 20px;
    max-height: 90%;
    background-color: #2b2b2b;
    padding: 20px;
    color: whitesmoke;
  }
  
  .signUp h3 {
    color: whitesmoke;
  }

  .buttonSubmit {
    width: 150px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    background-color: #424242;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    transition: 0.5s;
  }

  .buttonSubmit:focus {
    outline: none;
    border-bottom: 1px solid #2ea44f;
  }

  .buttonSubmit:hover {
    background-color: #2ea44f;
  }

  .game {
    margin-top: 20px;
  }
