.square {
  width: 10vmin;
  height: 10vmin;
  position: relative;
}

.white {
  background-color: bisque;
}

.black {
  background-color: coral;
}

.highlight {}

.highlight::before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 50%;
  margin-left: -12.5%;
  top: 50%;
  margin-top: -12.5%;
}

.squareRowCount {
  position: absolute;
  left: 2px;
  font-size: 1em;
}

.squareRowCount.revert {
  right: 2px;
  bottom: 2px;
}

.white .squareRowCount {
  color: rgba(0, 0, 0, 0.5);
}

.squareColCount {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 1em;
}

.squareColCount.revert {
  left: 2px;
  top: 2px;
  right: auto;
  bottom: auto;
}

.white .squareColCount {
  color: rgba(0, 0, 0, 0.5);
}

.revert {
  transform: rotateX(180deg) rotateY(180deg);
}